/* for the structure of page */
.wrapper {
  display: flex;
}

.left {
  flex: 0 0 35%;
}

.right {
  flex: 1;
}

/* for all the text and headings */
.red-txt {
  color: red;
}

.txt {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.5625;
  margin-bottom: 0.9375rem;
}

.sub-heading {
  font-family: 'Enriqueta', arial, serif;
  line-height: 1.25;
  margin: 0 0 0.625rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: underline;
}

/* styling for the mat list */
.mat-list-base {
  overflow: auto;
  margin-right: 10%;
  padding: 0%;
  height: 20rem;
}

.mat-list-option[aria-selected="true"] {
  background: powderblue;
}

/* details content */
.details {
  background: aliceblue;
  padding: 1%;
  border: solid 1.5px;
  height: 100%;
}

.beer-img {
  float: right;
  height: 70vh;
}

/* search btn and input */
.search-btn {
  margin-right: 0.625rem;
  background-color: rgb(95, 196, 209);
  color: white;
  padding: 0.75rem 1.125rem;
  margin: 8px 0;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

input[type=text] {
  padding: 0.75rem 1.25rem;
  margin: 0.5rem 0;
  border: 0.0625rem solid #ccc;
  border-radius: 0.25rem;
  box-sizing: border-box;
  outline: none;
  margin-right: 0.5rem;
}

.search {
  margin-right: 2%;
}

/* general styles */
hr {
  border: 0;
  border-top: 1px solid black;
}

@media only screen and (max-width: 1024px) {
  .wrapper {
    display: block;
  }

  .beer-img {
    height: 60vh;
  }

  .mat-list-base {
    margin-bottom: 2rem;
  }
}
