/* styling for the mat list */
.mat-list-base{
    height: 80vh;
    overflow: auto;
    margin-right: 10%;
    padding: 0%; 
}

.mat-list-option[aria-selected="true"] {
  background: powderblue;
}

/* for the structure of page */

.wrapper {
    display: flex;
  }
  
  .left {
    flex: 0 0 35%;
  }
  
  .right {
    flex: 1;
  }


/* for all the text and headings */
.red-txt{
  color:red;
}

.txt{ 
  color: #333333;
  font-family: "Helvetica Neue",Arial,sans-serif;
  font-size: 14px; 
  font-weight: 300; 
  line-height: 1.5625;
  margin-bottom: 15px; 
}

.sub-heading { 
  font-family: 'Enriqueta',
  arial, serif;
  line-height: 1.25;
  margin: 0 0 10px;
  font-size: 24px;
  font-weight: bold;
  text-decoration:underline;
 }

 /* details content */

 .details{
  background: aliceblue;
  padding: 1%;
  border: solid 1.5px;
  height: 100%;
 }

 .beer-img{
  width: 50%;
  float: right;
  height: 70vh;
}
 
 /* search btn and input */
 .search-btn{
   margin-right: 10px;
 }
 
 input[type=text] {
  padding: 12px 20px;
  margin: 8px 0;
  /* display: flex; */
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
  margin-right: 8px;
}

.search-btn {
  background-color: rgb(95, 196, 209);
  color: white;
  padding: 12px 18px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

 hr {
	border: 0;
	border-top: 1px solid black;
}

.search{
  margin-right: 2%;
}

