<div class="container text-center">
  <h1>{{title}}</h1>
  <hr>
</div>
<div class="container wrapper">

  <div class="search">
    <input class="search-input" (keyup.enter)="onEnter($event)" type="text" name="search" [(ngModel)]="searchText"
      autocomplete="off" placeholder="Type name of a beer">
    <button class="search-btn" type="submit" (click)="searchBeer()">Search</button>
    <label class="red-txt">{{error}}</label>
  </div>

  <div class="left">
    <mat-selection-list selected="true" (selectionChange)="onSelectionChange($event)" #beerList [multiple]="false">
      <mat-list-option *ngFor="let beer of beers" [value]="beer" >
        {{beer.name}}
      </mat-list-option>
    </mat-selection-list>
  </div>

  <div [ngClass]="{'details': hasSelectedOption}" class="right details">
    <img *ngIf="hasSelectedOption" [src]="selectedBeer?.image_url" class="beer-img">
    <label class="sub-heading" *ngIf="hasSelectedOption">Name </label>
    <p class="txt">
      {{selectedBeer?.name}}
    </p>
    <label class="sub-heading" *ngIf="hasSelectedOption"> Tagline</label>
    <p class="txt">
      {{selectedBeer?.tagline}}
    </p>
    <label class="sub-heading" *ngIf="hasSelectedOption"> First brewed</label>
    <p class="txt">
      {{selectedBeer?.first_brewed}}
    </p>
    <label class="sub-heading" *ngIf="hasSelectedOption"> Description</label>
    <p class="txt">
      {{selectedBeer?.description}}
    </p>
  </div>
</div>